textarea {
    min-height: 400px;
}

.read {
    background-color: white;
}

.unread {
    background-color: #CCCCCC;
}

.underline {
    border-top: 1px solid grey;
    padding-top: 10px;
}

.margin-right {
    margin-right: 10px;
}

.margin-bottom {
    margin-bottom: 10px;
}